@model Biblioteca.Models.Locacao

@{
    ViewData["Title"] = "Eliminar registro";
}

<h1>Eliminar registro</h1>

<h3>Tem certeza de que deseja excluir permanentemente o registro de locação?</h3>
<div>
    <h4>Locação</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Livro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Livro.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHoraLocacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHoraLocacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPrevista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPrevista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDevolucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDevolucao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorLocacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorLocacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MultaAtraso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MultaAtraso)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar à lista</a>
    </form>
</div>
